<div class="flex justify-center mt-48">
  <form style="width: 40%" (ngSubmit)="handleSubmit()" #formRef="ngForm">
    <div class="my-5 w-full">
      <label for="name">Nome</label>
      <input
        type="text"
        id="name"
        name="name"
        class="p-2 rounded w-full border text-sm mt-2"
        [(ngModel)]="formFieldsValue.owner.name"
        required
      />
    </div>
    <div class="flex my-5 w-full">
      <div class="w-1/3">
        <label for="birthday" class="text-sm">Data de nascimento</label>
        <input
          type="date"
          id="birthday"
          name="birthday"
          class="w-full text-sm"
          [(ngModel)]="formFieldsValue.owner.birthday"
          required
        />
      </div>
      <div class="w-1/3">
        <label for="scheduleDay" class="text-sm">Agendar compra</label>
        <input
          type="date"
          id="scheduleDay"
          name="scheduleDay"
          class="w-full text-sm"
          [(ngModel)]="formFieldsValue.scheduleDay"
        />
      </div>
      <div class="flex flex-col w-1/3">
        <div>
          <input
            type="checkbox"
            id="student"
            name="student"
            [(ngModel)]="formFieldsValue.owner.student"
          />
          <label for="student" class="ml-4 text-sm">Estudante</label>
        </div>
        <div *ngIf="formFieldsValue.owner.student">
          <input
            type="checkbox"
            id="studentCard"
            name="studentCard"
            [(ngModel)]="formFieldsValue.owner.studentCard"
          />
          <label for="studentCard" class="ml-4 text-sm"
            >Carteira de estudante</label
          >
        </div>
      </div>
    </div>
    <div class="my-5 w-full">
      <input
        type="submit"
        class="p-2 w-full bg-blue-500 text-white hover:bg-blue-400 rounded cursor-pointer"
        [disabled]="!formRef.form.valid"
      />
    </div>
  </form>
</div>
